body{
    font-family: 'Inter';
    overflow: hidden !important;
    padding: 0;
    margin: 0;
}
.auth-layout{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;

    align-items: center;
    background: url(https://images.unsplash.com/photo-1548159417-f283998827c1?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
.auth-section{
    box-sizing: border-box;

    width: 45vw;
    height: 65vh;

    border-radius: 2vw;
    display: flex;
    background: white;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5vw;
}
.auth-title{
    font-size: 2.8vw;
    font-weight: 700;
    margin: 0;
}
.auth-text{
    font-size: 1vw;
    color: gray;
}

button{
    padding: 1.3vw 2vw;
    border-radius: 3vw;
    border: 0;
    margin-top: 13vw;
    font-family: 'Inter';
    color: white;
    font-size: 0.85vw;
    background: rgb(0, 0, 0);
    cursor: pointer; 
}

.dashboard-layout{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e1ebf8;
}
.dashboard-section{
    box-sizing: border-box;
    border-radius: 1vw;
    width: 90vw;
    margin-top: 2vw;
    height: 80vh;
    display: flex;

    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.user-list{
    width: 40vw;
    height: 75vh;
    background: #ffffff;
    border: 1px solid #cecece;
    box-sizing: border-box;
    overflow-x: hidden;
    border-radius: 2vw;
    margin-right: 4vw;
}
.user-table{
    margin: 0vw 0vw;
    width: 100%;
}

.user-list::-webkit-scrollbar {
    width: 0vw;
  }
.user-table-header{
    width: 40vw;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start !important;
    padding: 0.75vw 3vw;
    position: sticky;
    top: 0;
    background: #F7F7F7;
    border-bottom: 1px solid rgb(223, 223, 223);
}

.user-table-row{
    width: 40vw;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    padding: 0.5vw 3vw;
    border-top: 1px solid rgb(223, 223, 223);
}

.user-table-header>td{
    width: 20vw;
    padding: 1vw 1vw;
}


.user-table-row>td{
    width: 20vw;
    font-size: 0.9vw;
    color: gray;
    padding: 1vw 1vw;
}

.universal-loader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    background: #e9e9e96b;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-layout{
    width: 35vw;
    margin-top: 20vh;
    display: flex;
    justify-content: center;
}

.loader{
    width: 5vw;
}

.tab{
    width: 19vw;
    margin-right: 2vw;
    height: 20vh;
    background: #ffffff;
    border-radius: 1vw;
    padding-left: 2.5vw;
    border: 1px solid #cecece;
    box-sizing: border-box;
}

.tab-text{
    color:gray;
    margin-top: 4vh;
}
.tab-metric{
    margin: 0;
    font-size: 2.8vw;
    font-family: 'Inter';
    font-weight: 400;
}

.dashboard-user{
    display: flex;
    height: 70vh;
    align-items: flex-start;
}

.nav{
    background: #ffffff;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5vw 3vw;
    height: 10vh;
    box-sizing: border-box;
}
.nav-user-layout{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.nav-logo{
    margin-left: 1vw;
    width: 2.7vw;
    height: 2.7vw;
    margin-right: 1vw;
    border-radius: 10vw;
}
.nav-link{
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-decoration: underline;
}
.nav-user{
    color: rgb(131, 131, 131);
    font-size: 0.95vw;
    margin-right: 12vw;
    width: 30vw !important;

}   